@use "../../../styles/theme";

.container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  background-color: rgba(theme.$black, 0.3);
}
