@use "../../../../styles/theme";

.container {
  color: theme.$black;
}

.icon {
  color: theme.$secondary-green;
}

.createIcon {
  cursor: pointer;
  font-size: 1.5rem;
  color: theme.$secondary-green;
}
