@use "../../../styles/theme";

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  pointer-events: none;
  background-color: rgba(theme.$white, 0.5);
}
