@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

$blue: #b0bdd9;
$grey: #ebeef2;
$dark-grey: #d2d5d9;
$primary-green: #6c8c74;
$secondary-green: #5b7349;
// $black: #0d0d0d;
$black: #444444;
$white: #ffffff;
$red: #dc3545;
$dark-red: #733d43;

$font: "Josefin Sans", sans-serif;
